body {
    font-family: "Avenir";
    font-size: 1rem;
    background-color:#f5ea8c;
}

.col-sm {
    margin-top: 12px;
}

#contentcard {
    margin: 40px auto;
    height: 500px;        
    width: 420px;
}

header {
    background-color: rgb(129, 30, 210);
}

.search.search {
    width: 600px;
}

.left-icon-holder {
    position:relative;
}

.left-icon-holder .bi {
    position:absolute;
    line-height: 24px;
    top:50%;
    margin-top: -12px; /* Half of line height to keep left middle postion of container */
    left: 10px;
}

.list-group{
    max-height: 300px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.column-header {
    text-align: center;
    width:100%;
}